* {
    /* border: 1px solid red; */
    box-sizing: border-box;
}

ul {
    padding: 0px;
    margin: 0px;
}

body {
    height: 100vh;
    font-family: 'Single Day', cursive;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    user-select: none;
    position: relative;
}

#content {
    height: 90vh;
    display: grid;
    grid-template: min-content minmax(500px, 1000px) min-content / 1fr minmax(500px, 1000px) 1fr;
    gap: 100px;
}

.range {
    width: 200px;
    margin: auto;
    cursor: pointer;
}

#sidebar {
    grid-area: 1/1/2/4;
    top: 0;
    left: 0;
    right: 0;
    height: auto;
    width: 100%;
    background-color: rgb(10, 6, 44);
}

#sidebar .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 30px;
    height: 100px;
    width: 100%;
    padding: 20px;
    border-bottom: solid 3px white;
}

#sidebar .logo i {
    font-size: 40px;
    color: white;
}

#sidebar .logo .logoName {
    font-size: 46px;
    font-weight: 400;
    color: white;
}

#sidebar .optionsList {
    padding: 10px;
    min-height: 50px;
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
}

#sidebar .optionsList li {
    position: relative;
    display: grid;
    grid-template-columns: auto 1fr min-content;
    height: 50px;
    transition: all 0.4s ease;
}


#sidebar .optionsList li:hover {
    background-color: rgb(40, 43, 91);
    cursor: pointer;
}

#sidebar .optionsList li .arrow {
    /* margin-left: auto; */
    grid-column: 3;
    align-items: center;
    height: 100%;
    display: flex;
}


#sidebar .optionsList .subOptionPickColor {
    display: grid;
    grid-template-columns: 1fr min-content;
    place-items: center;
}

#sidebar .optionsList .subOptionPickColor .colors {
    width: 250px;
    height: 150px;
    position: absolute;
    background-color: red;
    left: 242px;
    top: 0px;
    border-radius: 0px 13px 13px 0px;
    background-color: rgb(65, 68, 148);
    cursor: default;
    grid-template: repeat(3, 40px) / repeat(5, 40px);
    place-content: center;
    gap: 7px;
}

#sidebar .optionsList .subOptionPickColor .arrow {
    position: absolute;
    margin-left: -30px;
}

#sidebar .optionsList .icon {
    font-size: 35px;
    color: white;
    align-items: center;
    height: 100%;
    display: flex;
}

#sidebar .optionsList .option_size-value {
    text-align: center;
}

#sidebar .optionsList span {
    font-size: 30px;
    font-weight: 400;
    color: white;
    align-items: center;
    height: 100%;
    display: flex;
    padding: 0px 10px 0px 10px;
}


.hidden,
.sub-hidden {
    display: none;
}

.displayed,
.sub-displayed {
    display: grid;
}

#sidebar .optionsList .subOptions {
    width: 100%;
    background-color: rgb(40, 43, 91);
    padding: 10px 0px 10px 0px;
    border-radius: 0px 0px 13px 13px;
    position: absolute;
    margin-top: 48px;
    row-gap: 10px;
    z-index: 1;
    cursor: default;
}

#sidebar .subOptions li {
    margin: 5px 0px 5px 0px;
    font-size: 25px;
    font-weight: 400;
    color: rgb(255, 255, 255);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#sidebar .subOptions li:hover {
    background-color: rgb(65, 68, 148);
}

#sidebar .optionsList .bx-chevron-down {
    font-size: 25px;
    color: white;
}

#sidebar .optionsList .option_size-value {
    grid-area: 1/1/2/3;
    justify-self: center;
}

#sidebar .optionsList .option_size input {
    grid-area: 2/1/3/3;
    justify-self: stretch;

}

#canvas {
    display: grid;
    border: 2px solid black;
    grid-area: 2/2/3/3;
    grid-auto-flow: row;
    grid-auto-rows: auto;
    position: relative;
    box-shadow: 0px 0px 15px gray;
}

.pixel {
    border: 1px solid rgba(0, 0, 0, 0.034);
}

.canvasInitialMessage {
    place-self: center;
    font-size: 40px;
}

#sidebar .optionsList .option_color .colors .white {
    background-color: white;
}

#sidebar .optionsList .option_color .colors .silver {
    background-color: silver;
}

#sidebar .optionsList .option_color .colors .black {
    background-color: black;
}

#sidebar .optionsList .option_color .colors .red {
    background-color: red;
}

#sidebar .optionsList .option_color .colors .maroon {
    background-color: maroon;
}

#sidebar .optionsList .option_color .colors .yellow {
    background-color: yellow;
}

#sidebar .optionsList .option_color .colors .olive {
    background-color: olive;
}

#sidebar .optionsList .option_color .colors .lime {
    background-color: lime;
}

#sidebar .optionsList .option_color .colors .green {
    background-color: green;
}

#sidebar .optionsList .option_color .colors .aqua {
    background-color: aqua;
}

#sidebar .optionsList .option_color .colors .teal {
    background-color: teal;
}

#sidebar .optionsList .option_color .colors .blue {
    background-color: blue;
}

#sidebar .optionsList .option_color .colors .navy {
    background-color: navy;
}


#sidebar .optionsList .option_color .colors .fuchsia {
    background-color: fuchsia;
}

#sidebar .optionsList .option_color .colors .purple {
    background-color: purple
}

.colors div {
    border: rgba(255, 255, 255, 0.534) solid 1px;
    border-radius: 50%;
    cursor: pointer;
}